/* -----------------------------------------en Reservar Cita----------------------------------- */

.service-card {
  cursor: pointer;
  border: 1px solid #ddd;
  transition: transform 0.2s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card.selected {
  border: 2px solid #007bff;
  background-color: #e9f5ff;
}

.btn-available {
  background-color: #f8f9fa;
  color: #000;
}

.btn-selected {
  background-color: #007bff;
  color: #fff;
}

/* .custom-datepicker {
  width: 100%;
}

.custom-calendar {
  width: 100%;
} */




/*-------------------------------------- En PanelAdmin----------------------------------- */
.cardAdmin {
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .cardAdmin h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #11998e;
    /* margin-bottom: 0.5rem; */
  }
  
  .cardAdmin p {
    font-size: 1rem;
    color: #34434D;
    /* margin-bottom: 0.5rem; */
  }
  
  .cardAdmin hr {
    /* margin: 1rem 0; */
    border: none;
    border-top: 1px solid #000000;
  }
  
  .cardAdmin button {
    font-size: 1rem;
    /* padding: 0.75rem 1.5rem; */
    border: none;
    border-radius: 5px;
    background-color: #11998e;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .cardAdmin button:hover {
    background-color: #38ef7d;
  }
  
  .selectBuscar{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin: 0.5rem;
    padding-right: 180px;
  }
  
  .perfil-empresa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  