.button-container {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.button:focus {
    outline: none;
}

.button.usuario {
    background-color: #11998e;
    color: #fff;
}

.button.empresa {
    background-color: #11998e;
    color: #fff;
}

.button.usuario:hover,
.button.empresa:hover {
    background-color: #34434D;
}
/* .registerGoogle {
    background-color: #db4437;
    color: #fff;
    border-color: #db4437;
}
.registerGoogle:hover {
    background-color: #c23321;
}
.registerGoogle:focus {
    outline: none;
}
.registerGoogle:active {
    background-color: #c23321;
}
.registerfacebook {
    background-color: #3b5998;
    color: #fff;
    border-color: #3b5998;
}
.registerfacebook:hover {
    background-color: #2d4373;
} */
